:root {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff6f3;
  --bg-color: #ffffff;
  --bg-color-darker: #e8f0ea;
  --color-one: #e8f0ea;
  --color-two: #9888a5;
  --color-three: #776472;
  --color-four: #445552;
  --color--five: #294d4a;
  --farve-light: #f1e7e4;
  --farve-lighter: #f8f3f2;
  --farve-logo: #85ac80;
  --farve-dark: #7a6563;

  --navbar-height: 90px;
  --gap-size: 40px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 999px;
  border: 1px solid var(--farve-dark);
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition:
    border 0.25s ease,
    color 0.25s ease,
    background-color 0.25s ease;
  color: var(--farve-dark);
}
button:hover {
  border: none;
  background-color: var(--farve-dark);
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.text-container {
  white-space: pre-line;
  border-radius: 10px;
  font-size: 1.4em;
}

img {
  border-radius: 10px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
}

.lighter {
  background-color: var(--farve-lighter);
}

.light {
  background-color: var(--farve-light);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

.image-placeholder {
  border-radius: 0.5rem;
  background-color: gray;
  color: white;
  font-size: 1.3em;
}

section {
  margin: 0 var(--gap-size);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }

  :root {
    --gap-size: 30px;
    --navbar-height: 50px;
    font-size: 0.8em;
  }

  .text-container {
    padding: 10px;
  }

  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.3em;
  }
}
